/*Color-lab: #f7b617
Color gris (footer): #2b2b2b */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.white{
	background-color: #fff;
	color: #2b2b2b;
	font-weight: bold;
}

h1, h2{
	font-weight: bold;
}
h3{
	margin: 30px 0;
    display: inline-block;
}
h4{
	margin: 30px 0;
}
.amarilloW{
	background-color: #f7b617;
	color: #fff;
}
/*NAV*/
.navbar-brand{
	float: unset;
}
.navbar-inverse{
	border-color: #fff;
	padding: 20px;
}

 .navbar-inverse .nav li a{
	color:  #2b2b2b;
}

.navbar-inverse .nav li:hover{
	background-color: #f7b617;
}

.navbar-header .navbar-toggle{
	border-color: #fff;
	float: left;
}
.navbar-toggle:hover{
	background-color: #fff !important;
}
.navbar .navbar-toggle .icon-bar{
	background-color: #2b2b2b;
}

/*SECCION 1*/
.first-section{
	background-image: url(../img/taxi.jpg);
	width: 100%;
	height: 100vh;
	background-position: 0 92%;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero, .conduce{
    padding: 35px;
    margin-top: 5%;
}
.detalle{
	text-align: center;
	margin: 45px 0;
	width: 100%;
    height: 1px;
    background-color: #fff;
}
.detalle:after{
    content: 'O bien';
	position: relative;
	top: -14px;
	padding: 0 60px;
	background: #f7b617;
	color: #fff;
}
.img{
	display: inline-block;
}

/*SECCION 2*/
.second-section{
	padding: 40px 0;
}
.info{
    margin-left: -1px;
}

.info .row{
	border: 1px solid;
    padding: 30px;
}

/*SECCION 3*/
.third-section{
	background-image: url(../img/conduce.jpg);
	height: 70vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.conduce{
	background-color: rgba(0, 0, 0, 0.39);
	color: #fff;
	margin-top: 0;
	padding-top: 8%;
}

/*SECCION 4*/

.four-section{
	padding: 100px;
}

.form-control{
	width: 90%;
	color: #fff;
	display: inline;
	margin: 20px 0;
	background-color: transparent;
	border-color: #fff;
}
.form-group img{
	width: 8%;
}

#tarifa{
	width: 100%;
	text-align: center;
    margin: 20px auto;
    font-weight: bold;
    color: #000;
}
#map{
	width: 90%;
	height: 50vh;
	border: 2px solid #fff;
}

/*FOOTER*/
footer{
	background-color: #2b2b2b;
	color: #fff;
	padding: 80px;
}

.footerIcon{
    padding-top: 330px;
}

.footerImg{
	padding-top: 190px;
}

.footerImg img, .footerIcon i{
	padding: 5px;
}

.list-unstyled li a{
	line-height: 3.0;
	color: #fff;
}
.border{
	border-bottom: 1px solid #fff;
	padding: 10px;
}
