@media (min-width: 200px) and (max-width: 756px){
	.hero{
		margin-top: 20%;
	}
	.block{
		display: block;
	}
	.none{
		display: none;
	}
	.info .row{
		border: none;
	}
	.celu{
		border: 1px solid #fff;
		margin-bottom: 25px;
		padding: 40px;
	}
	.four-section{
		padding: 30px;
	}
    h3{
    	margin: 0;
    	width: 100%;
    }
    .img{
        margin-bottom: 30px;
    }
	.conduce h4, .conduce button{
		font-size: 20px;
	}
	footer{
		padding: 40px 5px;
	}
	.footerIcon{
		width: 55%;
		padding-top: 0;
		float: right;
	}
	.footerImg{
        padding-top: 40px;
	}
	.footerImg img{
		width: 150px;
	}
}

@media(min-width: 757px){
	.block{
		display: none;
	}
	.none{
		display: block;
	}
}