@media (min-width: 200px) and (max-width: 756px){
	.hero{
		margin-left: 100px;
		margin-top: 20%;
	}
	.block{
		display: block;
	}
	.none{
		display: none;
	}
	.info .row{
		border: none;
	}
	.celu{
		border: 1px solid #fff;
		margin-bottom: 25px;
		padding: 40px;
	}
	.four-section{
		padding: 30px;
	}
	.conduce{
		margin-left: 0;
	}
	.conduce h4, .conduce button{
		font-size: 25px;
	}
	footer{
		padding: 40px 5px;
	}
	.footerIcon{
		margin-left: 200px;
	}
	.footerImg, .footerIcon{
		padding-top: 0;
		margin-left:160px;
	}
	.footerImg img{
		width: 150px;
	}
}

@media(min-width: 757px){
	.block{
		display: none;
	}
	.none{
		display: block;
	}
}