@media (min-width: 200px) and (max-width: 756px){
	.hero{
		margin-left: 78px;
	}
	.block{
		display: block;
	}
	.none{
		display: none;
	}
}

@media(min-width: 757px){
	.block{
		display: none;
	}
	.none{
		display: block;
	}
}